body{

background:#0f172a;

color:white;

font-family:Arial,Helvetica,sans-serif;

}

.hero{

padding:120px 20px;

text-align:center;

}

.hero h1{

font-size:60px;

font-weight:bold;

}

.hero h3{

color:#38bdf8;

margin-bottom:20px;

}

section{

padding-top:70px;

padding-bottom:70px;

}

.card{

background:#1e293b;

color:white;

border:none;

margin-bottom:20px;

height:100%;

}

h2{

margin-bottom:30px;

color:#38bdf8;

}

footer{

text-align:center;

padding:30px;

background:#020617;

margin-top:40px;

}

.btn{

margin-top:20px;

}
